<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/common/head.html :: headerfiles">
</head>
<body>

	<div id="wrapper">
		<ul th:replace="/fragments/common/sidebar.html :: sidebar"></ul>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav th:replace="/fragments/common/topbar.html :: topbar"></nav>
				<form th:replace="/branch/add.html :: add (object='branch')"></form>
			</div>
		</div>
	</div>

	<div th:insert="/fragments/common/footer.html :: footer"></div>

	<div th:replace="/fragments/common/scripts.html :: scripts"></div>

</body>

<script>
$(document).ready(function() {
	var facultyHidden = true;
	if($('div #faculty span').html() != undefined) {
		facultyHidden = false;
		$("div #faculty").removeClass("hidden");
	}
	var selectizeUniversity = $('select[id="faculty.university"]');
	selectizeUniversity.selectize({
		sortField: 'text',
		onChange: function(value) {
			ajaxFillFaculties(value, facultyHidden);
		},
	});
	
	$('select[id="faculty"]').selectize({
		sortField: 'text'
	});
	
	$('input[id="faculty.university-selectized"]').on('change keyup copy paste cut', function() {
		if(!this.value) {
			var facultySelectize = $('select[id="faculty"]').get(0).selectize;
			facultySelectize.clear();
			facultySelectize.clearOptions();
			$("#submitButton").prop('disabled', true);
			if(facultyHidden) {
				$("div #faculty").addClass("hidden");
			}
		}
	});
	
	var valueOfFacultyField = $('select[id="faculty.university"]').children().first().val();
	if(valueOfFacultyField != "") {
		console.log("Mbushim te dhenat ne fillim");
		ajaxFillFaculties(valueOfFacultyField, facultyHidden);
	}
	
});

function ajaxFillFaculties(value, facultyHidden) {
	$.ajax({
		method: 'GET',
		url: '/faculty/university/' + value,
		success : function(data) {
			if(facultyHidden) {
				$("div #faculty").removeClass("hidden");
			}
			var facultySelectize = $('select[id="faculty"]').get(0).selectize;
			
			for (var i = 0; i < data.length; i++) {
				var item = data[i];
			    var newElement = {
			            'value':item.id,
			            'text':item.name,
			    };
				
				facultySelectize.addOption(newElement);
				facultySelectize.refreshOptions();
				facultySelectize.addItem(item.id);
				
			}
			$("#submitButton").removeAttr("disabled");
		}
	});
}

</script>

</html>